<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pp.facerecognizer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".Old"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".tracking.MissingPeople" />
        <activity android:name=".tracking.AddPeople" />
        <activity android:name=".tracking.MainActivityw" />
        <activity android:name=".tracking.Retrive" android:label="Volunteer Management" />
        <activity android:name=".tracking.Refugee" />
        <activity android:name=".tracking.CampRetrive" />
        <activity android:name=".tracking.Donate" />
    </application>
</manifest>
